@media (max-width:1199px) {

}


@media (max-width:991px) {

}


@media (max-width:767px) {
    .banner-content {
        padding: 80px 0;
    
    }
    h2{
        margin-bottom: 15px;
        font-size: 27px;
    }
    h2 span{
        font-size: 27px;
    }
    p {
        margin-bottom: 30px;
    }
    .btn-custom {
        font-size: 11px;
        padding: 4px 18px;
    
    }
}


@media (max-width:576px) {
    .img-fluid {
        width: 50%!important;
    }
    .fa-sliders-h {
        width: 50%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 12px;
    }
    .banner-content {
        padding: 50px 0;
    
    }
    h2{
        margin-bottom: 10px;
        font-size: 22px;
    }
    h2 span{
        font-size: 22px;
    }
    p {
        margin-bottom: 20px;
    }
    .btn-custom {
        font-size: 10px;
        padding: 4px 18px;
    
    }



    .img-w img {
        width:80%;
    }
    .img-1 {
       width: 100%;
    }
    

}